menu "MATRX hardware configuration"
    config MATRIX_WIDTH
        int
        range 1 128
        default 64
        help
            The width of the LED matrix in pixels.
            64 = 64 pixels wide
            128 = 128 pixels wide

    config MATRIX_HEIGHT
        int
        range 1 64
        default 32
        help
            The height of the LED matrix in pixels.
            32 = 32 pixels high
            64 = 64 pixels high

    config HW_TYPE
        int
        range 0 3
        default 0
        help
            The type of hardware being used.
            0 = MATRX_v9
            1 = MATRX_v8
            2 = TIDBYT_v1
            3 = TIDBYT_v2

endmenu
