menu "MATRX hardware configuration"
    config MATRIX_WIDTH
        int "Matrix width"
        default 64
        help
            The width of the LED matrix in pixels.
            64 = 64 pixels wide
            128 = 128 pixels wide

    config MATRIX_HEIGHT
        int "Matrix height"
        default 32
        help
            The height of the LED matrix in pixels.
            32 = 32 pixels high
            64 = 64 pixels high

    config HW_TYPE
        int "Hardware type"
        default 1
        help
            The type of hardware being used.
            1 = MATRX_v9
            2 = MATRX_v8
            3 = TIDBYT_v1
            4 = TIDBYT_v2
endmenu
