# This is a esp idf workflow to build ESP32 based project
name: Development Build

# Controls when the action will run.
on:
  push:
    branches: ["*"]

jobs:
  build:
    uses: acvigue/.github/.github/workflows/idf_build.yaml@main
    with:
      idf_version: v5.5.1
      project_name: MATRX
      create_release: false
