# This is a esp idf workflow to build ESP32 based project
name: Build and Release

# Controls when the action will run.
on:
  push:
    tags:
      - v*

jobs:
  build:
    uses: acvigue/.github/.github/workflows/idf_build.yaml@main
    with:
      idf_version: v5.5.1
      project_name: matrx-fw
      create_release: true
